<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">AirBook</title>
</head>

<body class="d-flex flex-column min-vh-100">
<nav class="navbar navbar-expand-md bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">AirBook</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/bookFlight" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Flight
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/bookFlight">Book a Flight</a></li>
                        <li><a class="dropdown-item" href="#">My tickets</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Past tickets</a></li>
                    </ul>
                </li>
            </ul>
            <a id="signupButton" class="btn btn-primary" href="#">Signup</a>
            <a id="loginButton" class="btn btn-outline-success" href="#">Login</a>

        </div>
    </div>
</nav>
<section class="m-1" layout:fragment="body"></section>
<footer class="m-3 mt-auto d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-body-secondary">© 2023 AirBook</p>
    <a href="home.html" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">AirBook</a>
    <ul class ="nav col-md-4 justify-content-end">
        <li class="nav-item">
            <a href="home.html" class="nav-link px-2 text-body-secondary">Home</a>
        </li>
        <li class="nav-item">
            <a href="bookflight.html" class="nav-link px-2 text-body-secondary">Book a Flight</a>
        </li>
    </ul>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/javascript.js}"></script>
</footer>
</body>

</html>